<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextWebGeneration</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<script>
    function backHome() {
        location.href = "/"
    }
</script>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/profiles">Profiles</a>
        <a href="/query">Query</a>
        <a class="profile_icon" href="/profiles"><img id="profile" class="icon_img" src="img/profile-user.png"></a>
    </div>
    <div class="profile">
        <img id="profile2" src="img/profile_card_woman.png">
        <h2 class="profile_content">Sarah Fisher</h2>
        <h2 class="profile_content">Music type: Pop</h2>
        <h2 class="profile_content">Hobbies: Video Games</h2>
    </div>
    <div class="pick_up_profile">
        <button class="button" onclick="backHome()">Pick up</button>
    </div>
</body>
</html>