<!DOCTYPE html>
<html lang="en">
<script>
    var status = "<%= status %>";
    
    var icon = "";
    if (status == 1)
        icon = "/img/profile_card_jhon.png";
    else if (status == 2)
        icon = "/img/profile_card_woman.png";
    else if (status == 3)
        icon = "/img/profile_card_teenager.png";
    else
        icon = "/img/profile-user.png";
    function backHome() {
        location.href = "/3"
    }
</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextWebGeneration</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
</head>
<body>
    <div class="topnav">
        <script>
            document.write('<a href="/3">Home</a>');
            document.write('<a class="active" href="/3/profiles">Profiles</a>');
            document.write('<a href="/3/query">Query</a>');
            document.write('<a class="profile_icon" href="/3/profiles"><img class="icon_img" src="' + icon + '"></a>')
        </script>
    </div>
    <div class="profile">
        <img id="profile3" src="/img/profile_card_teenager.png">
        <h2 class="profile_content">André Markov</h2>
        <h2 class="profile_content">Music type: Classic</h2>
        <h2 class="profile_content">Hobbies: Maths</h2>
    </div>
    <div class="pick_up_profile">
        <button class="button" onclick="backHome()">Pick up</button>
    </div>
</body>
</html>