<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextWebGeneration</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="/profiles">Profiles</a>
        <a href="/query">Query</a>
        <a class="profile_icon" href="/profiles"><img id="profile" class="icon_img" src="img/profile-user.png"></a>
    </div>
    <div class="content_container">
        <h2>Pick up a profile !</h2>
    </div>
    <div class="profiles_container">
        <a href="/profile1"><img id="profile1" src="img/profile_card_jhon.png"></a>
        <a href="/profile2"><img id="profile2" src="img/profile_card_woman.png"></a>
        <a href="/profile3"><img id="profile3" src="img/profile_card_teenager.png"></a>
    </div>
</body>
</html>